{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Mahima Gupta and Dipti" content="text summarizer">
    <title>Text Summarizer</title>
	

    <!-- Bootstrap core CSS -->
   
	<link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">

  </head>

  <body>

    <header class="masthead text-center text-white">
      <div class="container mx-auto">
        <div class="row" style="color: white;">
          <div class="mx-auto">
            <h1 class="text-success" style="padding-top: 10px;">
              Text Summarizer!
            </h1>
            <hr>
          </div>
        </div>
        <div class="row" style="color: white;">
          <div class="text-center mx-auto">
            <form class="form-group text-center" action="" method="post">
              {% csrf_token %}
              {% for field in form %}
                <h5 class="text-success">{{ field.label }}</h5>
                <div class="col-xs-12 text-black" style="padding-bottom: 20px;">
                  <br>
                  {{ field }}
                </div>
              {% endfor %}
              <div class="col-xs-12">
                <input class="btn btn-outline-danger" type="submit" value="Submit"/>
              </div>
             </form>
             <br>
              <div class="col-xs-12" style="padding-bottom: 50px;">
                <h5 class="text-success">
                  {{ summary }}
                </h5>
              </div>
          </div>
        </div>
      </div>
    </header>
	
 </body>

</html>
